.headline span {
  display: block;
  font-size: .9rem;
  width: 100%;
}

/**
 * Generals
 */

.hidden {
  display: none;
}

.visible {
  display: block;
}

/**
 * Forms
 */

.invalid,
.invalid-icon {
  border-color: #da1c1c !important;
}

.invalid-icon {
  background-color: #fb3333 !important;
  color: #fff !important;
}

.notification p {
  font-weight: 600;
}

.notification ul {
  font-size: .8rem;
  padding-left: 1.5rem;
  margin-bottom: 0;
}

.ul-link {
  list-style-type: none;
  padding-left: 0;
  padding-top: 1.3rem;
}

.ul-link a {
  color: #444 !important;
  font-size: .9rem;
  font-weight: 800;
}

.ul-link a:hover {
  text-decoration: underline;
  color: #2a41e8 !important;
}

/**
 * Social buttons
 */

.social-login h3 {
  padding-left: 40px;
}

.social-login ul {
  list-style-type: none;
}

.social-login ul li {
  margin-bottom: 1rem;
}

.loginBtn {
  display: block;
  width: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}

.loginBtn:before {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}

.loginBtn:active {
  -webkit-box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */

.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4C69BA), to(#3B55A0));
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png") 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5B7BD5), to(#4864B1));
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

/* Google */

.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}

.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png") 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

/* Github */

.loginBtn--github {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #24292e;
}

.loginBtn--github:before {
  border-right: #000 1px solid;
  background: url("https://reclutati.com/images/icon-github.png") 6px 6px no-repeat;
}

.loginBtn--github:hover,
.loginBtn--github:focus {
  background: #31404e;
  color: #fff;
}

/**
 * Apply
 */

.btn-has-applied {
  background-color: #30ab4a !important;
}

