// Variables
@import "variables";

.headline {
	span {
		display: block;
		font-size: .9rem;
		width: 100%;
	}
}

/**
 * Generals
 */
.hidden {
	display: none;
}
.visible {
	display: block;
}

/**
 * Forms
 */
.invalid, .invalid-icon {
	border-color: #da1c1c!important;
}
.invalid-icon {
	background-color: #fb3333!important;
	color: #fff!important;
}
.notification {
	p {
		font-weight: 600;
	}

	ul {
		font-size: .8rem;
		padding-left: 1.5rem;
		margin-bottom: 0;
	}
}
.ul-link {
	list-style-type: none;
	padding-left: 0;
	padding-top: 1.3rem;

	a {
		color: #444!important;
		font-size: .9rem;
		font-weight: 800;
	}

	a:hover {
		text-decoration: underline;
		color: #2a41e8!important;
	}
}
